@import 'var';

.mazic-row {
  margin-left: -$numberPadding;
  margin-right: -$numberPadding;
  @include flex;
}

@for $col from 1 through 12 {
  $colWidth: percentage(calc($col/12));

  .mazic-col-#{$col} {
    max-width: $colWidth;
    flex: 0 0 $colWidth;
    padding: $numberPadding;
  }
}
